{{#if auth0}}
    <!--[if IE 8]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.2.5/ie8.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
    <script src="https://cdn.auth0.com/js/base64.js"></script>
    <script src="https://cdn.auth0.com/js/es5-shim.min.js"></script>
    <![endif]-->

    <script src="https://cdn.auth0.com/js/lock/11.3/lock.min.js"></script>
    <script>
        var lock = new Auth0Lock("{{auth0.clientID}}", "{{auth0.domain}}", {
            configurationBaseUrl: "https://cdn.auth0.com",
            auth: {
                redirectUrl: "{{auth0.callbackURL}}",
                responseType: "code",
                params: {
                    scope: "openid email profile",
                    state: "{{state}}",
                },
                sso: false,
            },
            overrides: {
                __tenant: "sdd-manifesto",
                __token_issuer: "https://{{auth0.domain}}.org/",
            },
            theme: {
                logo: 'https://sdd-manifesto.org/img/sdd_seal_150x150.jpg',
                primaryColor: '#233173',
                authButtons: {
                    "github": {
                        displayName: "github to sign",
                    },
                    "google-oauth2": {
                        displayName: "google to sign",
                    },
                    "twitter": {
                        displayName: "twitter to sign",
                    }
                    ,
                    "linkedin": {
                        displayName: "linkedin to sign",
                    }
                }
            },
            languageDictionary: {
                title: "Sign the Manifesto",
            },
            closable: true,
        });
    </script>
{{/if}}

{{#each message}}
    <div class="confirmation">{{this}}</div>
{{/each}}

{{{html}}}

{{#unless user}}
    <button class="button primary" id="sign_manifesto" onclick="lock.show();">Sign the Manifesto</button>
{{/unless}}

<div class="signers">
    <p>{{count}} people already signed (<a href="/signatures.html">Full list</a>)</p>
    <ul class="avatars">
        {{#each profiles}}
            <li class="avatar" style="background-image: url('{{picture}}')"
                data-tooltip="{{displayName}} signed {{ago}}"></li>
        {{/each}}
    </ul>
</div>

<div class="links">
    <ul>
        <li><a href="https://github.com/sdd-manifesto/manifesto/blob/{{sha}}/README.md">View on GitHub</a></li>
        <li><a href="https://github.com/sdd-manifesto/manifesto/blob/master/README.md">Suggest Improvements</a></li>
    </ul>
</div>

